/* Reset básico */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
@font-face {
    font-family: 'Game';
    src: url('../../Videojuego/Assets/GameAssets/Font/game_font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Estructura general */
body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background: black;
    background-size: 400% 400%;
    font-family: 'Game', sans-serif;
    color: #ffffff;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    width: 100%;
}

.container h1{
    margin-top: 10px;
}
  
main {
    width: 100%;
    padding: 0 20px 40px 20px;
}
  
footer {
    margin-top: 60px;
    padding: 20px 0;
    font-size: 1.2em;
}
  
/* Header */
header {
    width: 100%;
    padding: 20px 40px;
    display: flex;
    background: #3B3F42;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
}
  
.titulo {
    font-size: 1.5em;
    color: #fff700;
    text-shadow: 2px 2px 4px #000;
}
  
nav {
    display: flex;
    gap: 20px;
}
  
.boton-header {
    padding: 10px 20px;
    font-size: 1.5em;
    background-color: #6C767D;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, background-color 0.3s;
}
  
.boton-header:hover {
    background-color: #4F4F4F;
    transform: scale(1.05);
}
  
/* Página principal */
.logo {
    width: 500px;
    max-width: 60vw;
    height: auto;
    margin: 20px auto;
}
  
h1 {
    font-size: 2.5em;
    margin-top: -60px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px #000;
}
  
.texto-intro {
    font-size: 1em;
    line-height: 1.5;
    text-align: center;
    margin: 10px 0;
}
  
.menu-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 40px auto 0 auto;
    max-width: 1000px;
    justify-items: center;
}
  
.boton-grid {
    padding: 40px;
    font-size: 2.5em;
    background-color: #D0B245;
    color: white;
    text-decoration: none;
    border-radius: 12px;
    transition: transform 0.2s, background-color 0.3s;
    text-align: center;
    width: 500px;
    max-width: 90%;
}
  
.boton-grid:hover {
    background-color: #E2C65F;
    transform: scale(1.05);
}
  
/* Créditos */
.contenido-creditos {
    margin: 60px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
  
.seccion-titulo {
    font-size: 2em;
    margin-bottom: 15px;
    color: #fff700;
    text-shadow: 1px 1px 3px #000;
}
  
.seccion-texto,
.lista-creditos,
.lista-profesor {
    font-size: 1em;
    line-height: 1.6;
    max-width: 800px;
    text-align: center;
}
  
.lista-creditos,
.lista-profesor {
    list-style: none;
    padding-left: 0;
}
  
.lista-creditos li::before {
    content: "🎮 ";
    margin-right: 5px;
}
  
.lista-profesor li::before {
    content: "👨‍🏫 ";
    margin-right: 5px;
}
  
.link-github {
    color: #1e90ff;
    text-decoration: underline;
}
  
a.boton {
    display: inline-block;
    padding: 15px 40px;
    font-size: 1.5em;
    background-color: #ff4757;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    transition: transform 0.2s, box-shadow 0.3s, background-color 0.3s;
}
  
a.boton:hover {
    background-color: #e84118;
    transform: scale(1.05);
}
  
/* Login y Registro */
.login-register h1 {
    font-size: 6em;
    margin-top: 5%;
    margin-bottom: 30px;
    color: yellow;
}
  
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
label {
    font-size: 1.5em;
    margin-bottom: 5px;
    text-align: left;
    width: 300px;
}
  
input {
    font-size: 1em;
    padding: 10px;
    width: 300px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: none;
}
  
.error-texto {
    font-size: 1em;
    color: red;
    margin-top: 15px;
}
  
.botones-login,
.botones-register {
    margin: 20px 0;
    text-align: center;
}
  
.boton-login,
.boton-register {
    width: 200px;
    padding: 10px;
    font-size: 14px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
  
.texto-registro {
    font-size: 0.8em;
    margin-top: 10px;
}
  
a.hipervinculo {
    font-size: 1em;
    color: #1e90ff;
    text-decoration: underline;
}
  
.boton-regresar {
    margin-top: 20px;
}
  
a.botonRegresar {
    display: inline-block;
    padding: 15px 40px;
    font-size: 1.5em;
    background-color: #ff4757;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    transition: transform 0.2s, box-shadow 0.3s, background-color 0.3s;
}
  
a.botonRegresar:hover {
    background-color: #e84118;
    transform: scale(1.05);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
}
  
.password-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
}
  
.password-container .campo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
  
.password-container .campo label {
    width: auto;
}
  
.password-container .campo input {
    width: 400px;
}

.personajes {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
    padding: 20px;
}
#headerCharacter h1{
    text-align: center;
    margin-top: 10px;
}

.Character {
    margin-top: 100px;
    margin-bottom: 50px;
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.Character:hover {
    transform: scale(1.05); 
}

.Character img {
    width: 150px;
    height: 150px;
    margin: 0px auto;
    padding-top: 20px;
    display: block;
    border-bottom: 2px solid #ffcc00;
    align-items: center;
    justify-content: center;
}

.Character h3 {
    text-align: center;
    color: #ffcc00; 
    font-size: 1rem;
    margin-top: 10px;
}

.Character p {
    padding: 15px;
    font-size: 10px;
    line-height: 1.6;
    color: #ccc; 
    text-align: center;
}

.return-button {
    display: inline-block;
    padding: 10px;
    margin-bottom: -60px;
    font-size: 1em;
    background-color: #ff4757;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.3s, background-color 0.3s;
    justify-content: space-between;
    position: absolute; /* Position it absolutely within the page */
    top: 20px; /* Adjust this value to control vertical position */
    right: 20px; /* Align the button to the right */
    text-align: center;
    margin-top: 30px;
}

.return-button:hover {
    background-color: #e84118;
    transform: scale(1.05);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
}

.container {
    margin-top: 30px;
    margin-left: 500px;
    background-color: #4F4F4F;;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(46, 42, 42, 0.1);
    max-width: 500px;
    width: 100%;
    justify-content: center; 
    align-items: center; 
}

.control-list {
    list-style-type: none;
    padding: 0;
}

.control-item {
    background-color: #ffffff;
    border: 3px solid #ffcc00;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.control-key {
    font-weight: bold;
    color: #331f0777;
}

.control-action {
    font-style: italic;
    color: #555;
}

.control-item:hover {
    background-color: #fdfacc;
}


#assets {
    padding: 60px 20px;
    background-color: #121212;
    color: white;
    text-align: center;
}

#assets h2 {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #f2c81f;
    margin-bottom: 40px;
    position: relative;
    display: inline-block;
}

#assets h2::after {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background: #f2c81f;
    position: absolute;
    bottom: -10px;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

#assets h2:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.assets-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    width: 100%;
    overflow: hidden; 
}

.assets-gallery {
    margin-top: 50px;
    display: flex;
    align-items: center;
    width: max-content; 
    justify-content: flex-start;
    animation: scroll-left 40s linear infinite;
}

.assets-gallery img {
    width: 150px !important;
    height: 200px !important;
    object-fit: cover !important;
    margin: 0 20px; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.assets-gallery img:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.story {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px; /* Adds space above the comic image */
}

.story img {
    max-width: 90%; /* Adjust image size */
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
footer {
    margin-top: 60px;
    padding: 20px 0;
    font-size: 0.8em;
}
/* Section styling */
.leaderboard-section {
    background-color: #2c2f33;
    padding: 100px;
    border-radius: 10px;
}

.leaderboard-section h1 {
    margin-bottom: 100px; /* Adjust as needed */
  }
  
/* Form styling */
.formInput {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#championForm button {
    margin-bottom: 20px; /* Adjust this value to control the space */
  }  

.formInput input {
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1em;
    width: 250px;
    border-radius: 8px;
    border: none;
    background-color: #444;
    color: white;
}

.formInput input[type="submit"] {
    background-color: #6C767D;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.formInput input[type="submit"]:hover {
    background-color: #4F4F4F;
}

/* Result display styling */
.resultDisplay {
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    margin-top: 15px;
}

.resultDisplay h1 {
    font-size: 1.2em;
    color: #fff;
    margin-bottom: 10px;
}

/* Buttons */
button, input[type="submit"] {
    background-color: #ff4757;
    color: white;
    padding: 10px 20px;
    font-size: 1.2em;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover, input[type="submit"]:hover {
    background-color: #e84118;
}

/* Header for the champion section */
#campeonResults {
    margin-top: 20px;
    color: #ffcc00;
}

#campeonResults p {
    font-size: 1.5em;
    color: #ffcc00;
}

#campeonResults div {
    font-size: 1.2em;
    color: #f4f4f4;
}

/* Form input fields */
input[type="text"], input[type="number"] {
    width: 100%;
    max-width: 400px;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: #444;
    color: white;
    margin-bottom: 15px;
}

input[type="text"]:focus, input[type="number"]:focus {
    outline: none;
    border: 2px solid #ffcc00;
}

.resultDisplay h1 {
    padding: 20px; 
  }

/* Estilo global de la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 30px 0;
    background: linear-gradient(to bottom, #2e2e2e, #383838); 
    border-radius: 12px;
    overflow: hidden;
  }
  
  th {
    background-color: #f1c40f; 
    color: #222; 
    font-size: 18px;
    padding: 12px;
    text-align: left;
    border-bottom: 2px solid #e1b800;
    font-family: 'Pixelify Sans', sans-serif; 
    text-transform: uppercase;
  }
  
  tr:nth-child(even) {
    background-color: #333333;
  }
  
  tr:nth-child(odd) {
    background-color: #222222; 
  }
  
  td {
    padding: 10px;
    color: #fff; 
    text-align: left;
    font-size: 16px;
    border-bottom: 1px solid #555;
    font-family: 'Pixelify Sans', sans-serif;
  }
  
  tr:hover {
    background-color: #f39c12; 
    cursor: pointer;
    color: #222; 
  }
  
  table, th, td {
    border: 1px solid #444; 
  }
  
  table, th, td {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }

  button {
    background-color: #f1c40f; 
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    font-family: 'Pixelify Sans', sans-serif; 
  }
  
  button:hover {
    background-color: #f39c12; 
  }

  input {
    background-color: #f1c40f; 
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    font-family: 'Pixelify Sans', sans-serif; 
  }
  
  #estadisticasChart {
    width: 100%;  /* Make the chart take up 100% of the container's width */
    height: 500px; /* Set the height of the chart */
  }
  