/* Reset básico */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Pixelify Sans', sans-serif;
}

body {
  background-color: #3D3C38;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* Header estilo THE LOST SENTINEL */
header {
  width: 100%;
  padding: 0px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3B3F42;
  position: relative;
  z-index: 10;
  font-size: 4em;
  color: #fff700;
  text-shadow: 2px 2px 4px #000;
}

header .botonRegresar {
  position: absolute;
  right: 40px;
  padding: 10px 20px;
  font-size: 0.5em;
  background-color: #ff4757;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  transition: transform 0.2s, background-color 0.3s;
}

header .botonRegresar:hover {
  background-color: #e84118;
  transform: scale(1.05);
}

.container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

canvas {
  border: 2px solid rgb(94, 72, 52);
  display: block;
}

#canvas {
  background-color: #134712;
  margin-top: 10px;
  width: 100%;
  max-width: 720px;
  height: auto;
  aspect-ratio: 2.8 / 2;
}

#uiCanvas {
  background-color: black;
  width: 100%;
  max-width: 720px;
  height: auto;
  aspect-ratio: 9 / 2;
}

#registerForm h2,
#loginForm h2 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

#loginForm button,
#registerForm button {
  margin-top: 30px;
}

footer {
  margin-top: 10px;
  text-align: center;
  width: 100%;
}

button {
  margin-top: 2px;
  background-color: #3a3a3a;
  border: 3px solid #ffcc00;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease;
}

button:hover {
  background-color: #ffcc00;
  color: black;
}

input {
  margin-top: 10px;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: solid #ffcc00;
  font-size: 14px;
}